{# search.html.twig #}

{% set target = target|default('.page-list') %}
{% set overlayTarget = overlayTarget|default(target) %}
{% set overlayEnabled = overlayDisabled is defined and overlayDisabled is not empty ? 'false' : 'true' %}
{% set tmpl = tmpl|default('list') %}

<link href="{{ asset('Assets/css/log.css') }}" rel="stylesheet">
{% block stylesheets %}

{% endblock %}
{{ form_start(filterForm) }}

<div class="custom-field-container">
    <div class="custom-field">
        {{ form_widget(filterForm.userName, {attr: {'class': 'custom-field'}}) }}
    </div>
    <div class="custom-field">
        {{ form_widget(filterForm.timePeriodStart, {attr: {'class': 'custom-field'}}) }}
    </div>
    <div class="custom-field">
        {{ form_widget(filterForm.timePeriodEnd, {attr: {'class': 'custom-field'}}) }}
    </div>
    <div class="custom-field">
        {{ form_widget(filterForm.bundle, {attr: {'class': 'custom-field', 'data-placeholder': 'Bundle'}}) }}
    </div>
    <div class="custom-field">
        {{ form_widget(filterForm.object, {attr: {'class': 'custom-field', 'data-placeholder': 'Object'}}) }}
    </div>
    <div class="custom-field">
        {{ form_widget(filterForm.action, {attr: {'class': 'custom-field', 'data-placeholder': 'Action'}}) }}
    </div>
    <div class="custom-field">
        <button type="submit" class="custom-button">
            <i class="fa fa-search" style="color:white"></i>
    </div>
</div>

{{ form_end(filterForm) }}
